#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.laptop{
  height: 300px;
  width: 100px;
  margin: 12px;
  flex-direction: row;
}

.Isblue{
  background-color: blue;
}